{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-packagejson"],
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true
}
