out/
dist/
.vite/
pnpm-lock.yaml
LICENSE.md

tsconfig.json
tsconfig.*.json

components.json
src/styles/main.css
src/ui/
src/utils/cn.ts

# Rust files are formatted by rustfmt.
**/*.rs

src-tauri/target/
src-tauri/gen/
